venv/# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Environments
venv/
.env/

# Data
data/raw/*
data/processed/*.csv
data/processed/property_data/*.csv

# Models
models/*
!models/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
